<p>This is one big technology demo and playground. For more information, email kevin@glorat.net</p>
<p>
    I owe thanks to many for getting me to where I am including
<ul>
    <li><a href="http://stronglifts.com">Stronglifts</a> for the resource that got me started into lifting</li>
    <li><a href="http://startingstrength.com">Starting strength</a> and Mark Rippetoe for giving me foundation of knowledge</li>
    <li><a href="http://blackironbeast.com">blackironbeast.com</a> and Peter Michaux for inspiration on Javascript tools</li>
    <li><a href="http://crazystrength.com">crazystrength.com</a> and Sam Pearson for creating a great lifting community</li>
</ul>
</p>
