<div ng-repeat="set in action.sets" class="col-sm-offset-3">
  <input ng-model="set.reps" type="number" size="2" placeholder="rp" ng-keydown="onLastInputEnter($event, $index)" select-on-click style="width:3em">
  reps x <weight-input input="set"></weight-input>
  <div class="btn-group btn-group-sm" role="group">
      <a type="button" class="btn btn-default" ng-click="addSet($index)"><span class="glyphicon glyphicon-plus"></span></a>
      <a type="button" class="btn btn-default" ng-click="removeSet($index)"><span class="glyphicon glyphicon-minus"></span></a>
  </div>
  <span ng-show="needsConvert(set)">({{ dispValue(set) | number : 1}} {{dispUnit}})</span>
  <button ng-click="showPlates(set)" analytics-on="click" analytics-event="log set plate solve" analytics-category="Tools"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
</div>
