<div class="panel panel-default">
    <header class="panel-heading"><h3>Register</h3></header>
    <form ng-submit="register()" class="form">
        <div class="form-group">
            <label for="rfn">First name:</label>
            <input type="text" class="form-control" name="firstname" id="rfn" ng-model="reg.firstname" placeholder="First name" required>
        </div>
        <div class="form-group">
            <label for="rln">Last name:</label>
            <input type="text" class="form-control" name="lastname" id="rln" ng-model="reg.lastname" placeholder="Last name" required>
        </div>
        <div class="form-group">
            <label for="rem">Email: </label>
            <input type="email" class="form-control" name="email" id="rem" ng-model="reg.email" placeholder="Enter email" required>
        </div>
         <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="alert" ng-class="'alert-' + registerStatus.level" role="alert" ng-show="registerStatus.message">{{ registerStatus.message }}</div>

<div class="panel panel-default" ng-hide="userStatus.isLoggedIn">
    <header class="panel-heading"><h3>Login</h3></header>
    <form ng-submit="login()" class="form">
        <input type="email" class="form-control" name="email" ng-model="lgn.email" placeholder="joe@gainstrack.com" required>
        <input type="password" class="form-control" name="password" ng-model="lgn.password" placeholder="password" required>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<div class="alert" ng-class="'alert-' + loginStatus.level" role="alert" ng-show="loginStatus.message">{{ loginStatus.message }}</div>
