<meta name="description" content="Gainstrack - Track your gains - workout log">

<div class="jumbotron">
    <h1>Track your gains</h1>
    <p>
        Welcome to a technology demo on a workout tracker that lets you track your workouts and give you help, advice and statistics on your progress.
    </p>
    <p>
        Start tracking your logs for <strong>free</strong> and <strong>without registration</strong>
    </p>
    <p>
        <a class="btn btn-primary btn-large" href="/track" role="button">Start tracking</a>
        <a class="btn btn-primary btn-large" ng-href="/user/{{ userStatus.username}}" ng-show="userStatus.username">See My Log</a>
    </p>
</div>
<div>
    <h2>Change log</h2>
    25-Jan-15
    <ul>
      <li>Mobile apps are now available for beta testing!</li>
      <li>Android: <a href="http://static.gainstrack.com/Gainstrack.apk">Download http://static.gainstrack.com/Gainstrack.apk</a></li>
      <li>iPhone: <a href="http://www.gainstrack.com/mobile.html">http://www.gainstrack.com/mobile.html</a> and follow instructions</li>
      <li>Further news will now be kept on my <a href="http://blog.gainstrack.com/">blog</a></li>
    </ul>
    20-Jan-15
    <ul>
      <li>Server moved to a slightly better host, in preparation for a mobile app</li>
    </ul>
    4-Jan-15
    <ul>
        <li>Create a <a href="/plates">plate calculator</a></li>
        <li>Networking back end refactored to minimize network traffic</li>
    </ul>
    30-Dec-14
    <ul>
        <li>Add/Remove set buttons no longer receive tab focus. Easier tabbing</li>
        <li>Your logs are held locally on your browser - View your logs while offline!</li>
    </ul>
    28-Dec-14
    <ul>
        <li>Estimated 1RM is now available in your log</li>
    </ul>
    26-Dec-14
    <ul>
        <li>Support logging without registration. Try it out with no commmitment!</li>
    </ul>
    25-Dec-14
    <ul>
        <li>Registration opens for secured logs!</li>
        <li>Merry Xmas</li>
    </ul>
</div>
