<div class="section scrollable-content">
  <h2>Plan workout</h2>
  <div class="input-group col-xs-12">
    <input type="text" class="form-control" ng-click="opened=true" placeholder="Date" datepicker-popup="yyyy/MM/dd" ng-model="workout.date" utc-date is-open="opened" datepicker-options="dateOptions" close-text="Close" id="planDate" ng-change="onDateChanged()"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
  </div>

  <form class="form-horizontal">
    <div class="form-group" ng-repeat="paramKey in paramKeys">
      <label class="control-label col-sm-6">{{paramKey}}</label>
      <div class="col-sm-6">
        <param-editor param="param[paramKey]" schema="paramSchema[paramKey]"></param-editor>
      </div>
    </div>
  </form>

  <workout-editor workout="workout"></workout-editor>
  <div>
    <button class="btn btn-primary pull-right" ng-click="submitPlan()" id="submitPlan">Save Plan</button>
  </div>

  <div class="alert" ng-class="'alert-' + workoutStatus.level" role="alert" ng-show="workoutStatus.message">
    {{ workoutStatus.message }}
  </div>

</div>
