<div class="section scrollable-content">
<h2>Track workout</h2>
  <p ng-hide="editWorkout.actions.length>0">Or try the <a href="#/plan">workout planner</a> to auto-generate your workout!</p>
    <div class="input-group col-xs-12">
      <input type="text" class="form-control" ng-click="opened=true" placeholder="Date" datepicker-popup="yyyy/MM/dd" ng-model="editWorkout.date" utc-date is-open="opened" datepicker-options="dateOptions" close-text="Close" id="trackDate" ng-change="onDateChanged()"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
    </div>
<workout-editor workout="editWorkout"></workout-editor>
<div>
  <button class="btn btn-primary" ng-click="submitWorkout()" id="trackSubmit">Submit</button>
  <button class="btn btn-warning" ng-click="reset()">Cancel</button>

  <a class="pull-right" ng-click="moreOptions=1" href="" ng-hide="moreOptions">More options...</a>

  <div class="pull-right" ng-show="moreOptions">
    <button class="btn btn-danger" ng-click="deleteWorkout()">Delete Workout</button>
  </div>
  <button class="btn btn-primary pull-right" ng-click="submitPlan()" id="submitPlan">Save Plan</button>

</div>

<div class="alert" ng-class="'alert-' + workoutStatus.level" role="alert" ng-show="workoutStatus.message">
    {{ workoutStatus.message }}
</div>

</div>
