<div class="section scrollable-content" ng-controller="PlateCalculatorController as pc">
<h2>Track workout</h2>
<workout-editor workout="editWorkout"></workout-editor>
<div>
    <button class="btn btn-primary" ng-click="submitWorkout()">Submit</button>
    <button class="btn btn-warning" ng-click="editWorkout=null">Cancel</button>
  <a class="pull-right" ng-click="moreOptions=1" href="" ng-hide="moreOptions">More options...</a>

  <div class="pull-right" ng-show="moreOptions">
    <button class="btn btn-danger" ng-click="deleteWorkout()">Delete Workout</button>
  </div>
</div>

<div class="alert" ng-class="'alert-' + workoutStatus.level" role="alert" ng-show="workoutStatus.message">
    {{ workoutStatus.message }}
</div>

</div>
