<h1>Training log for <em>{{ userId }}</em></h1>

        <!--
<form>
    <input type="number" name="minsets" value="<%== $minsets %>" size="2" max="99"> sets x <input type="number" name="minreps" value="<%== $minreps %>" width="2"> reps<br>
    Smooth to periodic cycle <%= check_box useperiod => 1 %> of <input type="number" name="period" value="<%== $period %>" width="2"> days<br>
    <input type="checkbox" name="shownotes">Show notes<br>
    <input type="submit">
</form>-->
<!--
<div id="img_div" style="position: fixed; top: 0; right: 0; z-index: 10; border: 1px solid #b9b9b9">
    Image will be placed here
</div>
<button onclick="toImg(document.getElementById('chart_div'), document.getElementById('img_div'));">Convert to image</button>
-->

<div class="row">
    <!-- Right sidebar -->
    <div class="col-md-4 col-md-push-8">
        <div class="panel panel-default ">
            <header class="panel-heading">Workout Calendar</header>
            <div>
               <datepicker ng-model="activeDate" multi-select="workoutDates"></datepicker>
            </div>
         </div>
        <div class="panel panel-default">
            <header class="panel-heading">Rep maxes</header>
            <table class="table">
                <tr>
                    <th></th>
                    <th ng-repeat="x in user.repMax[0].repMax">{{ $index+1 }}RM</th>
                </tr>
                <tr ng-repeat="repMax in user.repMax">
                    <td>{{ repMax.name }}</td>
                    <td ng-repeat="reps in repMax.repMax">
                       {{ reps.kg }}
                    </td>
                </tr>
            </table>

        </div>
    </div>


     <div class="col-md-8 col-md-pull-4">

         <div id="chart_div" style="width: 100%; height: 400px;" ng-show="showChart"><!-- TODO --></div>
         <p>
             <a href="/userraw/{{ userId }}">Download raw data (JSON)</a> - for a computer readable form, for backup, and for import to other sites (e.g. CrazyStrength)
         </p>


    <div class="panel panel-default" ng-show="editWorkout">
        <header class="panel-heading">Edit workout</header>
        <workout-editor workout="editWorkout"></workout-editor>
        <footer><button class="btn btn-default" ng-click="editWorkout=null">Cancel</button></footer>
    </div>



    <div>
        There are {{user.data.length}} log entries... On page {{currentPage}} with {{itemsPerPage}} items per page
        <pagination total-items="user.data.length" items-per-page="itemsPerPage" ng-model="currentPage"></pagination>
        <div ng-repeat="i in user.data | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage" class="panel panel-default">
            <header class="panel-heading">
                {{ datestr(i.date) }}
                <button type="button" class="btn btn-default" aria-label="Edit" ng-click="$parent.editWorkout=user.data[$index]">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </header>
            <ul ng-repeat="action in i.actions">
                <li>{{ action.name }}</li>
                <ul ng-repeat="set in action.sets">
                    <li><set-text data="set"></set-text></li>
                </ul>
            </ul>
            <footer class="panel-footer" ng-show="i.notes.length">{{ i.notes }}</footer>
        </div>
    </div>

     </div>
</div>