
<!-- Date: {{ workout.date }} -->

    <form class="form-horizontal">
        <div class="form-group">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control" ng-click="opened=true" placeholder="Date" datepicker-popup="yyyy/MM/dd" ng-model="workout.date" is-open="opened" datepicker-options="dateOptions" close-text="Close" id="trackDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-8">
              <div class="input-group">
                <input class="form-control" type="text" id="newActionName" ng-model="newActionName" placeholder="Type exercise" typeahead="name for name in user.usedExercises | filter:$viewValue | limitTo:8">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-default" ng-click="addNamedAction();">
                  <span class="glyphicon glyphicon-plus"></span>Add
                </button>
                </span>
              </div>
            </div>

            <div class="col-xs-4 btn-group dropdown" is-open="status.isopen">

                <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                  <span class="glyphicon glyphicon-plus"></span>
                  Quick <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" ng-show="status.isopen">
                    <li ng-repeat="ex in user.usedExercises | limitTo:8">
                        <a href="" ng-click="addNamedAction(ex);false">
                        <span class="glyphicon glyphicon-plus"></span> {{ ex }}
                        </a>
                    </li>
                </ul>
            </div><!-- /btn-group -->
        </div><!-- /form-group -->
    </form>
<div class="panel panel-default">
    <header class="panel-heading">Track workout for {{workout.date | date}}</header>
    <form class="form-horizontal" ng-repeat="action in workout.actions">
        <div class="form-group">
            <div class="col-xs-6 col-xs-offset-2">
                <p class="form-control-static" ng-hide="nameedit" ng-click="nameedit = true">{{ action.name }}</p>
                <input type="text" class="form-control" ng-show="nameedit" ng-model="action.name" >
            </div>
            <div class="col-xs-4">

                <div class="btn-group dropdown" is-open="dd.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" >
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-show="dd.isopen">
                        <li><a href="" ng-click="removeAction($index)">Delete...</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="cloneLastTime($index)">Clone last time</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <action-sets-editor action="action"></action-sets-editor>
        </div>
    </form>
    <div>
        <textarea placeholder="Notes on this workout..." ng-model="workout.notes" rows="4" class="form-control"></textarea>
    </div>
</div>
    <!--
    <div>
        Output: {{ workout | json }}
    </div>-->
</form>
