<div class="panel panel-default">
  <header class="panel-heading">
    <a ng-href="/user/{{ userState.userId }}/{{ i.date | stringDate}}">{{ i.localDate | date : 'fullDate'}}</a>
    <!--{{ i.date | date:'yyyy-MM-dd HH:mm:ss Z'}}-->
    <button ng-show="vm.canEdit()" type="button" class="btn btn-default" aria-label="Edit" ng-click="vm.editWorkout(i.date)">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </button>
  </header>
  <ul ng-repeat="action in vm.compressedData.actions | filter:exnameFilter">
    <li>{{ action.name }} <span class="label label-primary">{{ vm.scoreFor(i.date, action.name)}}</span></li>
    <ul ng-repeat="set in action.compressedSets">
      <li><set-text data="set" set-badges="userState.setBadges"></set-text></li>
    </ul>
  </ul>
  <div ng-show="i.body">
    <button class="btn btn-default" ng-click="vm.editWeight(i.date)"><span class="glyphicon glyphicon-scale"></span>Bodyweight: {{ i.body.weight }}{{i.body.unit}}</button>
  </div>
  <footer class="panel-footer" ng-show="i.notes.length && !exnameFilter">{{ i.notes }}</footer>
</div>
