<form>
<!-- Date: {{ workout.date }} -->
    <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="workout.date" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </p>

    <p>
        Enter exercise:
        <input type="text" name="newActionName" ng-model="newActionName" typeahead="name for name in user.usedExercises | filter:$viewValue | limitTo:8">
        <button ng-click="addNamedAction(newActionName);newActionName='';">Add</button>
    </p>

<ul ng-repeat="action in workout.actions">
    <!-- typeahead="name for name in states | filter:$viewValue | limitTo:8" -->
    <span>Name: <input type="text" ng-model="action.name" >
        <div class="btn-group btn-group-xs" role="group">
            <button type="button" class="btn btn-default" ng-click="addAction($index)"><span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-default" ng-click="removeAction($index)"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </span>
    <action-sets-editor action="action"></action-sets-editor>
</ul>
<div>Notes: <textarea ng-model="workout.notes" rows="10" class="form-control"></textarea></div>
    <!--
    <div>
        Output: {{ workout | json }}
    </div>-->
</form>
